@page "/"

<PageTitle>Home</PageTitle>

<h1 class="mx-auto my-5 py-5 fw-bold">A super simple, basic, minimal clothing store – because who needs variety or style when you can barely have the essentials?</h1>

<p class="mx-auto my-5 py-5 fw-bold">Make sure to navigate through the pages!</p>
